In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import lxml

In [23]:
assets = pd.read_csv("stock_list.csv", header=0).values[:,0]
assets

array(['ABBANK', 'BATBC'], dtype=object)

In [24]:
url = "https://www.dsebd.org/displayCompany.php?name="
data = pd.DataFrame(columns=['symbol', 'Outstanding Share'])
for each in assets:
    get_url = f"{url}{each}"
    print(get_url)
    html = requests.get(f"{url}{each}").content
    soup = BeautifulSoup(html)
    tables = soup.find_all('table', attrs={'id': "company"})[2]
    df = pd.read_html(str(tables))[0]
    data = data.append({'symbol': each, "Outstanding Share": df.iloc[3,1]}, ignore_index=True)

https://www.dsebd.org/displayCompany.php?name=ABBANK

C:\Users\Evaly\AppData\Local\Temp\ipykernel_13680\636023081.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append({'symbol': each, "Outstanding Share": df.iloc[3,1]}, ignore_index=True)

https://www.dsebd.org/displayCompany.php?name=BATBC

C:\Users\Evaly\AppData\Local\Temp\ipykernel_13680\636023081.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append({'symbol': each, "Outstanding Share": df.iloc[3,1]}, ignore_index=True)

In [26]:
df

,0,1,2,3
0,Authorized Capital (mn),5400.00,Debut Trading Date,NaN
1,Paid-up Capital (mn),5400.00,Type of Instrument,Equity
2,Face/par Value,10.0,Market Lot,1
3,Total No. of Outstanding Securities,540000000,Sector,Food & Allied
4,Closing Price Graph: -Select Option- 1 month 3...,Closing Price Graph: -Select Option- 1 month 3...,Closing Price Graph: -Select Option- 1 month 3...,Closing Price Graph: -Select Option- 1 month 3...

In [4]:
tables = soup.find_all('table', attrs={'id': "company"})

In [6]:
tab = tables[2]
df = pd.read_html(str(tab))

In [10]:
df[0]

,0,1,2,3
0,Authorized Capital (mn),15000.00,Debut Trading Date,NaN
1,Paid-up Capital (mn),8358.39,Type of Instrument,Equity
2,Face/par Value,10.0,Market Lot,1
3,Total No. of Outstanding Securities,835838671,Sector,Bank
4,Closing Price Graph: -Select Option- 1 month 3...,Closing Price Graph: -Select Option- 1 month 3...,Closing Price Graph: -Select Option- 1 month 3...,Closing Price Graph: -Select Option- 1 month 3...